<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	<a href="http://aidt.edu">AIDT</a>
	is a state agency under the 
	<a href="http://www.madeinalabama.com/">Alabama Department of Commerce</a>
	. This is a preview of the new web application.
</p>
